@import './variables.scss'; // $main_color $component_box_color $graph_bar:

.App {
  text-align: center;
}

.App-header {
  background-color: $main_color;
  height: 12rem;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

.bar {
  height: 16.666666667%;
  background: $graph_bar;
  z-index: 25;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
}

.bar-text-content {
  height: 100%;
  width: 12%;
}

.bar-lines-container {
  width: 88%;
  height: 100%;
  position: relative;
}

.bold {
  font-weight: bold;
}

#checkMark{
  height: 1rem;
}

.componentBox {
  box-shadow: 6px 6px 9px rgba(0,0,0,0.15);
  border: 1px solid #ddd;
  border-radius: 4px;
  background: $component_box_color;
  margin: 1rem;
  padding: 1rem;
  width: 39rem;
}

.flipCard {
  border: 1px solid white;
  width: 100%;
  transition-duration: 2s;
  transform-style: preserve-3d;
}

.flipCard:hover {
  transform:rotateY(180deg);
  transition-duration: 2s;
}

.footer{
  width: 100%;
  height: 3.5rem;
  word-wrap: break-word;
  background-color: $footer;
  color: $component_box_color;
  text-align: center;
  font-size: 1.5rem;
  bottom: 0;
}

.friendsBox {
  display: flex;
  justify-content: center;
}

.graph{
  position: relative;
  max-width: 800px;
  height: 400px;
  display: flex;
}

.text {
  height: 16.666666667%;
  padding-top: 0.5rem;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: $graph_line;
  left: 10%;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $main_color;
}

#sayKarenLogo {
  height: 3.2rem;
}

.sleepDetails {
  font-size: 1rem;
  background-color: $white;
  border: 2px solid $main_color;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

.todo {
  background: $white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  padding: 7px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;

}

.todoContent {
  padding: 0.5rem;
}

.todo-list{
  background: $todo_background;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  color: $text_color;
}

.todoSubList {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex-wrap: wrap;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25rem;
}

// .userInformation{
//  display: flex;
//  flex-direction: column;
//  box-shadow: 6px 6px 9px rgba(0,0,0,0.15);
//  border: 1px solid #ddd;
//  border-radius: 4px;
//  padding: 5px;
// }

.inputNum, .inputText {
  height: 2rem;
  width: 22rem;
  font-size: 1.5rem;
  align-self: center;
}

.inputLabel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#waterGlass {
  height: 8rem;
  border: 1px solid $main_color;
  border-radius: 4px;
  padding: 5px;
}

.welcomeInput{
  display: flex;
  align-items: center;
}

#welcomeName {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  color: $text_color;
}

.welcomeTopInput {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
}

.welcomeSection {
  width: 100%;
  padding: 1rem;
}

#xButton {
  color: $red;
  height: 1rem;
}

