.App {
  text-align: center;
}

.App-header {
  background-color: #C4C4C4;
  height: 12rem;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.back{
  background: blueviolet;
  transform: rotateY(180deg);
}

.bar {
  height: 16.666666667%;
  background: green;
  z-index: 25;
  border-bottom: 1px solid #222;
  border-right: 1px solid #222;
}

.bar-text-content {
  height: 100%;
  width: 12%;
}

.bar-lines-container {
  width: 88%;
  height: 100%;
  position: relative;
}

.bold {
  font-weight: bold;
}

#checkMark{
  height: 1rem;
}

.componentBox {
  box-shadow: 6px 6px 9px rgba(0,0,0,0.15);
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #3190D6;
  margin: 1rem;
  padding: 1rem;
  width: 39rem;
}

.flipCard {
  border: 1px solid white;
  width: 100%;
  transition-duration: 2s;
  transform-style: preserve-3d;
}

.flipCard:hover {
  transform:rotateY(180deg);
  transition-duration: 2s;
}

.footer{
  width: 100%;
  height: 3.5rem;
  word-wrap: break-word;
  background-color: #e6e6e6;
  color: #00a3da;
  text-align: center;
  font-size: 1.5rem;
  bottom: 0;
}

.front{
  background: blue;
  position: absolute;
  width: 100%;
}

.front, .back{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.graph{
  position: relative;
  max-width: 800px;
  height: 400px;
  display: flex;
}

.text {
  height: 16.666666667%;
  padding-top: 0.5rem;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(0,0,0,0.1);
  left: 10%;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #C4C4C4;
}

#sayKarenLogo {
  height: 3.2rem;
}

.sleepDetails {
  font-size: 1rem;
  background-color: #fff;
  border: 2px solid #C4C4C4;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  padding: 7px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;

}

.todoContent {
  padding: 0.5rem;
}

.todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  color: black;
}

.todoSubList {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex-wrap: wrap;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25rem;
}

.userInformation{
 display: flex;
 flex-direction: column;
 box-shadow: 6px 6px 9px rgba(0,0,0,0.15);
 border: 1px solid #ddd;
 border-radius: 4px;
 padding: 5px;
}

.inputNum, .inputText {
  height: 2rem;
  width: 22rem;
  font-size: 1.5rem;
  align-self: center;
}

.inputLabel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#waterGlass {
  height: 8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.welcomeInput{
  display: flex;
  align-items: center;
}

#welcomeName {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  color: black;
}

.welcomeTopInput {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
}

.welcomeSection {
  width: 100%;
  padding: 1rem;
}

#xButton {
  color: red;
  height: 1rem;
}

