@import './variables.scss'; // $main_color $component_box_color $graph_bar:

.App {
  text-align: center;
  font: $main_font;
}

.App-header {
  background-color: $main_color;
  height: 12rem;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 7rem;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

#appName {
  font-size: 3rem;
  background: $component_box_color;
  border: 1px solid $white;
}

.bold {
  font-weight: bold;
}

.componentBox {
  box-shadow: 6px 6px 9px rgba(0,0,0,0.15);
  border: 1px solid #ddd;
  border-radius: 4px;
  background: $component_box_color;
  margin: 1rem;
  padding: 1rem;
  width: 39rem;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $main_color;
}

.todo {
  background: $white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  padding: 7px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
}

.todoContent {
  padding: 0.5rem;
}

.todo-list{
  background: $todo_background;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  color: $text_color;
}

.todoSubList {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex-wrap: wrap;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25rem;
}

.inputNum, .inputText {
  height: 2rem;
  width: 22rem;
  font-size: 1.5rem;
  align-self: center;
}

.inputLabel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#waterGlass {
  height: 8rem;
  border: 1px solid $main_color;
  border-radius: 4px;
  padding: 5px;
}

.welcomeInput{
  display: flex;
  align-items: center;
}

.welcomeTopInput {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
}

.welcomeSection {
  width: 100%;
  padding: 1rem;
}


