@import './variables.scss'; // $main_color $component_box_color $graph_bar:

.footer{
  width: 100%;
  height: 3.5rem;
  word-wrap: break-word;
  background-color: $footer;
  color: $component_box_color;
  text-align: center;
  font-size: 1.5rem;
  bottom: 0;
}

#sayKarenLogo {
  height: 3.2rem;
}